#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

tr.shortProductBox > td > span{
  font-size: 12px;
  color:#338;
}

tr.shortProductBox > td.even{
  background-color:#eee;
}

tr.shortProductBox > td.odd{
  background-color:#ddd;
}

button.productButton{
  font-size: 12px;
  font-weight: bold;
  height: 18px;
  border-radius: 5px;
  padding: 0;
  border-spacing: 0;
  margin: 2px 2px 2px 0;
  text-align: center;
  color: #fff;
  background-color: #444;
}